i {
    color: #e4a829;
}

.admin-logo {
    height: 100px;
}

.top_left {
    border-radius: 4px 0 0 0;
    float: left;
    background: #00A8B3;
    width: 20%;
    height: 100px;
    padding:10px;
    box-sizing: border-box;
}
.top_left_text{
    margin-top: 20px;
    float: left;
    margin-left: .8em;
}
.name{
    color: #ffffff;
}.role{
    color: #76DEDA;
}

.head_icon{
    float: left;
    border-radius: 4px;
}

.top_right {
    border-radius: 0 4px  0 0;
    width: 80%;
    height: 100px;
    background: #41CAC0;
    float: right;
    box-sizing: border-box;
}

.control-nav {
    min-height: 500px;
    width: 20%;
    float: left;
    background: #E5E8EF;
}

.control-display {
    padding: 12px;
    min-height: 500px;
    width: 80%;
    background: #ffffff;
    float: right;
    box-sizing: border-box;
}

.control-nav-a {
    text-decoration: none;
    color: #333;
}

.control-ul {
    width: 100%;
}

.control-ul li {
    list-style: none;
    width: 100%;
}

.control-nav-a {
    display: inline-block;
    width: 100%;
    color: #6A6A6A;
    padding: 1em;
    box-sizing: border-box;
}

ul.control-ul li a i {
    color: #6a6a6a;
    font-size: 16px;
    padding-right: 1em;
}

.active {
    display: inline-block;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    background: #D5D7DE;

}

.control-nav-a:hover {
    background: #D5D7DE;
}

table {
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ddd;
}

td, th {
    padding: 8px;
    line-height: 2em;
    vertical-align: top;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    color: #999999;
}

tr:last-child td {
    border-bottom: none;
}

.none-line-a {
    color: #2a6496;
    text-decoration: none;
}

table a {
    color: #2a6496;
    text-decoration: none;
}

table a:hover {
    color: #2a6496;
    text-decoration: underline;
}

.t-left span {
    color: #999;
    margin-left: 10px;
}

.t-left {
    text-align: left;
    text-indent: 10px;
}

tr:not(.th-title):hover {
    background: #F7F7F7;
}

table {
    margin-bottom: 1em;
}

/*category*/
#category-name {
    padding: 0.2em 0;
    margin-right: 1em;
}



