/*文章区*/
.left-wrap {
    box-sizing: border-box;
    width: 75%;
    float: left;
}

/*侧边区/*/
.side {
    padding-right: 12px;
    padding-left: 12px;
    float: right;
    width: 25%;
    box-sizing: border-box;
}

.side-li {
    list-style: none;
    border-bottom: 1px dashed #c1c1c1;
    padding: 0.5em 0;
}

.side-li:last-child {
    border-bottom: none;
}

.side-a {
    font-size: 1.2em;
    color: #333333;
    text-decoration: none;
}

.side-a:hover {
    color: #2a6496;
}

.side-title {
    display: inline-block;
    padding: 0.5em 0;
    /*background: #ffff00;*/
    margin-bottom: 10px;
    font-size: 1.4em;
    border-bottom: 4px solid #2a6496;
}

.block {
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 2em;
    padding: 20px;
    background: #fff;
    box-shadow: 4px 4px 4px #c6c6c6;
    box-sizing: border-box;
    transition-duration: 0.3s;
}

.block:hover {
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 20px;
    background: #fff;
    box-shadow: 6px 6px 6px #c6c6c6;
    box-sizing: border-box;
}

.title-wrap {
    border-bottom: 2px solid #cecece;
}

.content-wrap {
    min-height: 500px;
    padding: 20px;
    /*background: #eee8b1;*/
}

.title-wrap p {
    text-align: center;
    margin-top: 0.8em;
}

.article-title {

    font-size: 2.5em;
    font-weight: bolder;
    color: #333;
}

.article-info {
    color: #666;
    font-weight: 500;

}

.article-tag {
    margin-bottom: 1em;
}

.article-tag span {
    margin-left: 1em;
    font-weight: bold;
    color: #2a6496;
}

.left-comment-display {
}

.smart-title {
    font-size: 1.2em;
    padding: 0.5em 0;
}

.common-input {
    width: 100%;
    padding: 0.5em;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 1em;
    font-size: 1.2em;
}
.wrap-post-comment{
    margin: 0 auto;
    width: 70%;
}
.comment-textarea {
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #333;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #333;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #333;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #333;
}

.btn_submit{
    border-style: none;
    outline: none;
    font-weight: bold;
    padding: 0.5em 2em 0.5em;
    border-style: none;
    background:#b4061c ;
    color: #fff;
}

.btn_submit:hover{
    cursor: pointer;
    background: #b43a3e;

}
.right{
    float: right;
}
.wrap-submit{
    overflow: hidden;
    margin: 1.5em auto;
}
.wrap-comment{
    border-bottom: 1px dotted #999;
    padding:1.2em;
}

.comment-content{
    padding:0.8em;
    padding-left: 1em;
    background: #e9f6ce;
    border-radius: 5px;
}
.wrap-comment:last-child{
    border-bottom: none;
    padding:1.2em;
}