footer {
    margin-top: 100px;
    margin-bottom: 0.5em;
    clear: both;
    width: 100%;
    /*height: 50px;*/
    /*background: #eea236;*/
}

footer p {
    margin-top: 0.5em;
    text-align: center;
    color: #999;

}

li {
    list-style: none;
}

@font-face {
    font-family: Cormorant-Regular;
    src: url("/font/Cormorant-Regular.ttf");
    font-family: taiji;
    src: url("/font/taiji.otf");
    font-family: Gravity-Regular;
    src: url("/font/Gravity-Regular.otf");
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

body {
    background: #eceff1;
}

/*导航*/
nav {
    width: 100%;
    height: 60px;
    background: #eea236;
}
.nav_content{
    width: 75%;
    height: 60px;
    margin: 0 auto;
}
.nav_menu {
    line-height: 60px;
    float:right;

}.nav_menu li {
    float:right;
    margin-left: 1.5em;
}
.nav_menu li a{
    color: #ffffff;
}

.nav_menu li a:hover{
}


.logo_title{
    color: #ffffff;
    text-decoration: none;
    line-height: 60px;
    display: inline-block;
    font-family: taiji;
    font-size: 1.5em;
    transition-duration: 0.3s;
}
.logo_title:hover{
    color: #eeeeee;
    text-decoration: none;
    margin-left: 1em;
}

/*居中文字*/
.container {
    overflow: hidden;
    margin: 20px auto;
    width: 75%;
}

.f-14-gray {
    font-size: 14px;
    color: #999;
}

.f-12-3 {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}

.f-1-9 {
    color: #999;
}

.f-6-9 {
    color: #666;
}

.f-14-blue {
    font-size: 14px;
    color: #2a6496;
}

/*百分比宽度*/
.col-w-1 {
    width: 10%;
}

.col-w-2 {
    width: 20%;
}

.col-w-2_5 {
    width: 25%;
}

.col-w-3 {
    width: 30%;
}

.col-w-33 {
    width: 33.333%;
}

.col-w-4 {
    width: 40%;
}

.col-w-5 {
    width: 50%;
}

.col-w-6 {
    width: 60%;
}

.col-w-7 {
    width: 70%;
}

.col-w-8 {
    width: 80%;
}

.col-w-9 {
    width: 90%;
}

.col-w-10 {
    width: 100%;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}
.margin-right-1{
    margin-right: 1em;
}